<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kontakt.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="kontakt.io.API_KEY"
            android:value="MlucKluKUoTDhpgmmkkOJTOOgeFsdlOp" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.BeaconMonitorActivity" />
        <activity android:name=".ui.activity.BeaconRangeActivity" />
        <activity android:name=".ui.activity.BeaconManagementActivity" />
        <activity android:name=".ui.activity.BackgroundScanActivity" />
        <activity android:name=".ui.activity.ProfilesActivity" />
        <activity android:name=".ui.activity.ConfigFormActivity" />
        <activity android:name=".ui.activity.SimultaneousScanActivity" />
        <activity android:name=".ui.activity.BeaconRangeSyncableActivity"/>
        <activity android:name=".ui.activity.SyncableBeaconManagementActivity"/>

        <service
            android:name=".service.BackgroundScanService"
            android:exported="false" />

        <service
            android:name=".service.SyncService"
            android:exported="false" />

        <service
            android:name="com.kontakt.sdk.android.ble.service.ProximityService"
            android:exported="false" />

        <receiver
            android:name=".receiver.BackgroundScanReceiver"
            android:exported="false">
            <intent-filter android:priority="1">
                <action android:name="com.kontakt.sample.service.BackgroundScanService.BROADCAST" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
